.ppl-moe-pronouns {
  font-size: 0.75rem;
  font-weight: 500;
  cursor: default;
  pointer-events: none;
  margin-left: .5rem;
  height: 1.25rem;
  color: var(--text-muted);
  display: inline-block;
}
.ppl-moe-pronouns[data-compact="true"] { display: inline }
.ppl-moe-pronouns[data-compact="false"]::after {
  content: "•";
  display: inherit;
  margin-left: 0.25rem;
  margin-right: -0.25rem;
}


/* fix margin when there's a role icon (and not a system tag) */
span[class*="hasRoleIcon-"]:not([class*="hasSystemTag-"]) > .ppl-moe-pronouns {
  margin-left: .25rem;
}
span[class*="hasRoleIcon-"]:not([class*="hasSystemTag-"]) > .ppl-moe-pronouns::after {
  margin-right: 0;
}

/* hide pronouns in reply previews (funny css because the JS doesn't have enough info to determine this) */
div[id^="message-reply-context"] > .ppl-moe-pronouns { display: none; }

/* hide pronouns in compact mode until hovered */
span[id^="message-username-"]:not(:hover) > .ppl-moe-pronouns[data-compact="true"] {
  display: none;
}

/* hide pronoundb when prioritizing ppl-moe, or vice versa when vice versa */
.ppl-moe-pronouns[data-pronoundb-compat="ppl-moe"] ~ .pronoundb-pronouns,
.pronoundb-pronouns ~ .ppl-moe-pronouns[data-pronoundb-compat="pronoundb"] {
  display: none;
}
