/* style the tab content */
.ppl-moe-section-header {
  display: flex;
  padding-top: 16px;
}
.ppl-moe-badges {
  text-align: right;
  flex: 1;
}

.ppl-moe-section-info {
  display: grid;
  grid-template-columns: repeat(3,minmax(0,1fr));
  grid-column-gap: 16px;
  grid-row-gap: 12px;
  padding: 16px 0;
}
.ppl-moe-section-info div {
  display: flex;
  flex-direction: column;
}
.ppl-moe-section-info h1 {
  display: flex;
  font-size: 12px;
  line-height: 16px;
  text-transform: uppercase;
}
.ppl-moe-section-header span,
.ppl-moe-section-info span {
  font-size: 14px;
  line-height: 18px;
  color: var(--text-normal);
  user-select: text;
  display: flex;
}
.ppl-moe-link {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--text-link);
}
.ppl-moe-link:hover {
  text-decoration: underline;
}

.ppl-moe-section-bio {
  border-top: 1px solid var(--background-modifier-accent);
  padding: 16px 0;
}
.ppl-moe-section-bio h1 {
  display: flex;
}
.ppl-moe-section-bio span {
  white-space: unset;
}

.ppl-moe-section-loading {
  padding: 32px 0;
}
.ppl-moe-section-error {
  padding: 16px 12px;
}
.ppl-moe-tabitem-loading {
  padding-top: 8px;
}
.theme-light .ppl-moe-tabitem-loading {
  --status-grey-100: var(--status-grey-430);
}

div[id^="user-context-ppl-moe-"]::after {
  content: "";
  position: relative;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  height: 18px;
  width: 18px;
  margin-left: 8px;
  --icon-mask: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADvSURBVDhP7dKxrgFBGIbhRURFRCKqU6l1BJ3KBWgUau25lFOfC6BUqXUSicoVEBGlSCgkCN5vxmyGTYTelzzZmdn/z87ObvDNNzYFJOzwrahWPZEMMULTzF5HNapVTyS6ccUJ//hBBW100EARuqca1aonkj5009ng6M0v2HlzUY9J/H5VpverSw5JOzSJIW2HYZ57TEo4wH/iK2fUYOLvSO+fssNgjy7WZmazxB/0ioq+WssOHzOAe9oCWUy8tR7y2Hprc2QQRuexgivQtmfwD1uHP4Z25Nb09aoIU4eaXcEnfhGeURmf/NV+OPAguAHSRlOBlut+qgAAAABJRU5ErkJggg==);
  mask: var(--icon-mask) center/contain no-repeat;
  -webkit-mask: var(--icon-mask) center/contain no-repeat;
  background: white;
}




/*.ppl-moe-profile-badge {
  vertical-align: top;
  margin-left: .25rem;
  position: relative;
  top: 1px;
}*/


/* ppl.moe tab icon */
/*.ppl-moe-tab-icon {
  text-indent: 100%;
  overflow: hidden;
  margin: 0 30px;
  width: 30px;
}
.ppl-moe-tab-icon:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-image: url("https://cdn.discordapp.com/icons/267500017260953601/034b9f1489370e90e499f426d7ea7bd6.webp");
  background-size: 100%;
  background-repeat: no-repeat;
  bottom: 18px;
}*/
